version: '3'
services:
  testnet_node_alice:
    container_name: testnet_node_alice
    # Points to branch -https://github.com/cennznet/cennznet/tree/1.1.0-rc1
    image: cennznet/cennznet:develop-993900
    command:
      - --chain=dev
      - --base-path=/mnt/node
      - --alice
      - --validator
      - --unsafe-ws-external
      - --unsafe-rpc-external
      - --telemetry-url=ws://telemetry.polkadot.io:1024
      - --rpc-cors=all
    ports:
      - '9933:9933'
      - '9944:9944'
      - '30333:30333'
    networks:
      - api_testnet

  api_test:
    container_name: api_test
    build:
      context: .
      dockerfile: api_test.Dockerfile
    networks:
      - api_testnet
    command: ['tail', '-f', '/dev/null']
networks:
  api_testnet:
    external:
      name: apijs_default
