version: '3'
services:
  # dev node with runtime v37 and client 1.2.0
  testnet_node_alice:
    container_name: testnet_node_alice
    image: cennznet/cennznet:develop-57c46b
    command:
      - --dev
      - --tmp
      - --no-mdns
      - --unsafe-ws-external
      - --unsafe-rpc-external
    ports:
      - '9933:9933'
      - '9944:9944'
  # dev node with runtime v36 and client 1.1.1
  v36_node:
    container_name: v36_node
    image: cennznet/cennznet:1.1.1
    command:
      - --dev
      - --no-mdns
      - --unsafe-ws-external
      - --ws-port=9945
    ports:
      - '9945:9945'
  # a node environment to run api / e2e test scripts
  api-test-runner:
    image: node:10.19.0-stretch
    volumes:
      - .:/code
    environment:
      - API_KEY=$API_KEY
    command:
      - 'sh'
      - '-c'
      - 'cd /code && yarn && yarn --dev && yarn test:e2e'
