version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.16.3
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - yarn-packages-v1-{{ .Branch }}-
            - yarn-packages-v1-
      - run:
          name: Install Dependencies
          command: yarn
      - save_cache:
          paths:
            - ~/.tmp/yarn
          key: yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
      # - run:
      #     name: Run lint
      #     command: yarn lint
      - run:
           name: Build
           command: yarn build
      - run:
          name: Run unit tests
          command: yarn test --coverage
      - store_test_results:
          path: coverage
      - run:
          name: Install Docker Compose
          command: ./scripts/circleci/install_docker_compose.sh
      - setup_remote_docker
      - run:
          name: Run integration tests
          command: ./scripts/circleci/run_automation_test.sh -t integration
      - run:
          name: Run docs simple connection tests
          command: node docs/examples/promise/01_simple_connect/index.js
