version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:10.16.3
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - yarn-packages-v1-{{ .Branch }}-
            - yarn-packages-v1-
      - run:
          name: Install Dependencies
          command: yarn
      - save_cache:
          paths:
            - ~/.cache/yarn
          key: yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Run lint
          command: yarn lint
      - run:
           name: Build
           command: yarn build
      - run:
          name: Run unit tests
          command: yarn test --coverage
      - store_test_results:
          path: coverage
      - run:
          name: Install Docker Compose
          command: ./scripts/circleci/install_docker_compose.sh
      - setup_remote_docker
      - run:
          name: Run integration tests
          command: ./scripts/circleci/run_automation_test.sh -t integration
  publish:
    docker:
      - image: circleci/node:10.16.3
    steps:
      - checkout
      - run:
          name: Package
          command: |
            npm install cpx
            COPY lerna.json package.json yarn.lock tslint.json .prettierignore .prettierrc ./
            npm install -g yarn
            yarn install -q
            # install dependecies for packages
            COPY ./packages/api/package.json ./packages/api/
            COPY ./packages/util/package.json ./packages/util/
            COPY ./packages/types/package.json ./packages/types/
            npx lerna bootstrap
            # copy source code
            COPY . .
            yarn build
            npx lerna exec -- 'cpx package.json build/'
            npx lerna exec -- 'cpx README.md build/'
            npx lerna exec -- 'cpx ../../LICENSE build/'
      - run:
          name: Publish
          command: |
            echo "//registry.npmjs.org/:_authToken=${NPM_KEY}" > ~/.npmrc
            echo 'Publishing to npmjs.org'
            npm unpublish @cennznet/api@1.3.0-alpha.1
            npm unpublish @cennznet/types@1.3.0-alpha.1
            npm unpublish @cennznet/util@1.3.0-alpha.1
            # commenting the following command for now to unpublish the earlier version
            # npx lerna exec -- 'cd build && npm publish --access public'
workflows:
  version: 2
  run-build:
    jobs:
      - build
      - publish:
          requires:
            - build
          filters:
            branches:
              only:
                - /^[0-9]+[.][0-9]+[.][0-9](-[a-zA-Z].+)?$/
