name: PR builder

on:
  pull_request:
    branches:
    - develop
  push:
    branches:
    - develop

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: styfle/cancel-workflow-action@0.6.0
      with:
        access_token: ${{ github.token }}
    - uses: actions/setup-node@v1
      with:
        node-version: '15.3'
    - name: cache node modules
      id: cache
      uses: actions/cache@v2
      with:
        path: node_modules
        key: node-modules-${{ hashFiles('yarn.lock') }}
    - name: install
      if: steps.cache.outputs.cache-hit != 'true'
      run: yarn
    - name: lint
      run: yarn lint
    - name: build
      run: yarn build
    - name: unit tests
      run: yarn test --coverage
  e2e:
    needs: ci
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-suite:
          # grouped test runs
          - "v36-compat"
          - "create|call|queries"
          - tx
          - attestation.*
          - cennzx.*
          - staking
          - rpc.decodeResponse
          - send
    steps:
    - uses: styfle/cancel-workflow-action@0.6.0
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '10.19'
    - name: cache node modules
      id: cache
      uses: actions/cache@v2
      with:
        path: node_modules
        key: node-modules-${{ hashFiles('yarn.lock') }}
    - name: install
      if: steps.cache.outputs.cache-hit != 'true'
      run: yarn
    - name: start v36 test node
      if: contains(${{ matrix['test-suite'] }}, 'v36')
      run: |
        docker run --network=host -d cennznet/cennznet:1.1.1 --dev --ws-external --ws-port=9945 --no-mdns
    - name: start latest test node
      run: |
        docker run --network=host -d cennznet/cennznet:develop-57c46b --dev --tmp --ws-external --rpc-external --no-mdns
    - name: test
      env:
        TEST_TYPE: integration
        API_KEY: ${{ secrets.API_KEY }}
        # arbitrary value to disable internal API logging in test output
        NODE_ENV: disable-logging
      run: |
        npx jest -c jest/integration.config.js "${{ matrix['test-suite'] }}" --bail  --forceExit --detectOpenHandles --runInBand
  subscribe:
    needs: ci
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '15.3'
    - name: start latest test node
      run: |
        docker run --network=host -d cennznet/cennznet:develop-57c46b --dev --tmp --ws-external --rpc-external --no-mdns
    - name: run subscriber script at polkadot/rpc-provider version (2.7.1)
      working-directory: ./test
      run: |
        yarn
        yarn start
